.feed-container img, .feed-container video {
    width: 100%;
    display: block;
}

.feed-container ion-icon {
    font-size: 24px;
}

.feed-container {
    width: 100%;
    margin-bottom: 60px;
    border-style: solid
}

.feed-container > div {
    padding: 14px 17px;
    justify-content: space-between;
    align-items: center;
}

.feed-account {
    display: flex;
}

.feed-account div {
    display: flex;
}

.feed-account img {
    width: 32px;
}

.feed-account p {
    margin: auto 15px;
}

.feed-info {
    font-size: 17px;
}

.feed-info > div {
    display: flex;
    justify-content: space-between;
}

.feed-info img {
    width: 20px;
}

.feed-comment {
    display: flex;
    border-top: 1px solid #efefef
}

.feed-comment input {
    background-color: transparent;
    border-style: none;
    flex-grow: 1;
}

.feed-comment button {
    color: #B2DFFC;
    background-color: transparent;
    border: none;
    transition: 300ms
}

.feed-comment button:hover {
    color: #0095F6
}