/*
    Aqui tem umas soluções que não sei se foram feitas do melhor jeito,
    por isso separei do arquivo de estilos principal

    Talvez no futuro eu arrume tudo em um arquivo
*/

.feed-account p {
    font-size: 14px;
    font-weight: 500;
    color: #262626
}

.stories-holder p {
    font-size: 12px;
    font-weight: 400;
    color: #262626;
    line-height: 20px;
}

.feed-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 4px
}

.feed-info strong {
    font-weight: 500;
}

.feed-info small {
    color: rgb(142, 142, 142);
}

.feed-comment {
    gap: 16px
}

#feed-liked {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px
}

#feed-liked p {
    margin-left: 10px;
    margin-bottom: 0
}

#temp {
    font-size: 14px
}

.pitico {
    color: rgb(142, 142, 142);
    font-size: 10px;
    font-weight: 400;
}

aside small {
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
}

aside p {
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 500;
}

aside strong {
    color: #262626;
    font-size: 14px;
    font-weight: 500;
}

aside a {
    text-decoration: none;
    color: #139EF2
}

.aside-account p {
    margin-left: 6px;
    line-height: 17px;
}

.aside-account small {
    font-weight: 300;
    color: #8e8e8e;
    font-size: 14px
}

aside img {
    margin-right: 11px;
}

.feed-controls {
    display: flex;
    margin-bottom: 12px;
    gap: 14px
}

a strong {
    font-size: 12px
}

.aside-suggestions p {
    line-height: 18px;
}