section {
    width: 100%;
    max-width: 614px;
}

.stories-holder {
    width: 100%;
    height: 118px;
    display: flex;
    gap: 14px;
    align-items: center;
    padding-left: 18px;
    margin: 34px 0 24px 0;
    overflow: hidden;
    border-style: solid
}
.stories-post {
    text-align: center;
    flex-shrink: 0;
}

.stories-post div {
    background-image: url("./assets/stories_background.jpg");
    background-size: cover;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-post img, .aside-account img {
    width: 56px;
}

.stories-holder button {
    position: absolute;
    z-index: 0;
    margin-left: 558px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 28px;
    padding: 0;
    border-style: none;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

.stories-holder ion-icon {
    display: block;
}

.profile {
    border-radius: 50%;
}
